
div{
    /* margin-top: 5vh; */
    align-items: center;
    text-align: center;
}


.yo{
    color: aliceblue;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3px;
    padding-right: 0;
    padding: 5px;
}

.yo:hover{
    border: 1px solid red;
    color: red;
}

.bb{
    color: rgb(121, 114, 114);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}