.container {
    /* overflow: hidden; */
    width: 100%;
    height: 80%;
    min-height: fit-content;
    position: fixed;
    display: flex;
    justify-content: space-between;
  }

  img{
    max-width: 60vw;
    max-height: 40vh;
  }

  .img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10vh;
    width: 100%;
  }

  .naam {
    color: rgb(255, 253, 253);
    position: relative;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 #000,
      -1px -1px 0 #000;
    font-size: 7vh;
    top: 3vh;
  
  }
  .naam:hover{
    cursor: pointer;
    color: #e72929;
  }
  .uo {
    font-family: mocando;
    font-weight: bold;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding: 30px;
    opacity: 0.5;
    width: 40vw;
    margin-top: 10vh;
    margin-left: 5vw;
    /* height: 40vh; */
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgb(0, 0, 0);
    z-index: -1;
  
  }
  
  
  .uo:hover{
    opacity: 1;
  }
  
  button{
      color: white;
      background: #e72929;
      border: none;
      font-size: 1.2rem;
      /* margin-left: 13vw; */
      padding: 1rem;
      font-family: permanent marker;
      margin-top: 1vh;
      /* transform: skew(-15deg, 0); */
      outline: none;
      opacity: 0.8;
    }
    
    button:hover{
     background-color:red;
         opacity: 0.9;
      cursor: pointer;
    }

   .but{
    margin-left: 5vw;
    display: flex;
    justify-content: center;
   }

   .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* margin-top: 20vh; */
   }

   .deletebutton {
    color: white;
    /* background: #e72929; */
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    font-family: permanent marker;
    margin-top: 1vh;
    /* transform: skew(-15deg, 0); */
    position: fixed;
    right: 0px; bottom: 0px;
    outline: none;
    opacity: 0.8;}