
<div class="cont">
   
    <a href="" routerLink=""
    style="  background-color: rgb(105, 63, 60) ;  color: rgb(245, 240, 239) ;
     margin-left: -10px;
     font-weight: bold;
     padding-right: 30px;
     
   
     "
     class="you"
    onMouseOver="
 
    this.style.color='rgb(105, 63, 60)',
    this.style.backgroundColor='white',
   
    this.style.opacity='0.4'
    
    "
    onMouseOut="this.style.color='white',
 
    this.style.opacity='1'
    this.style.backgroundColor='rgb(105, 63, 60)'
    "
    >RENTBI</a>
    <a routerLink="/upload-page" style="font-family: permanent marker">
      Add <span></span>
    </a>
 
    <a routerLink="/cart-page" style="font-family: permanent marker">
       Your Ride <span></span>
     </a>
 
 
 
 </div>