ul{ margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
     
     flex-wrap: wrap;
     list-style-type: none;
     padding: 0px;
}

ul li a{
    align-items: center;
    
    height: 43vh;
    width: 17rem;
    overflow: hidden;
    border: 0.1px solid rgb(110, 109, 109);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: orange;
    object-fit: cover;
    margin: 20px;
    padding-top: 10px;

   
}
img {
    
    align-items: center;
    width: 15rem;
    height: 30vh;
    object-fit: cover;
  }

ul li a:hover{
   opacity: 0.5;
   cursor: pointer;
    /* border: 3px solid red; */
    background-color: rgb(248, 248, 248, 0.3);
}
ngb-rating {
    color: #ffffff;
    position: relative;
    left: -30%;
    font-size: 15px;
}

.pr{

    color: #ffffff;
   position: relative;
    left: 40%;
    top: -9%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 15px;
}

.top{
    margin-top: 20px;
}